@model D_Library.Models.Model.BookDeleteModel

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)


    <br />
    <h4 class="text-center">از حذف کتاب ' @Model.Name ' اطمینان دارید؟</h4>

    <br />


    <div class="">
        <button class="btn btn-danger modal-btn-Dual pull-left" type="button" data-dismiss="modal">انصراف</button>
        <button class="btn btn-success modal-btn-Dual pull-right " type="submit" name="btn-Delete">تایید</button>

    </div>



}
