
@{
    ViewBag.Title = "BookShow";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<section class=" container-fluid main-section ">

    <div class="panel bookshow-cover">
        <div class="row">
            <div class="col-md-2" style="">
                <img src="~/Content/Images/arm.png" class="img-responsive img-rounded bookshow-img" />

            </div>
            <div class="col-md-10">
                <div class="pull-right bookshow-flag-zone">
                    <i class="glyphicon glyphicon-certificate bookshow-flag"></i>
                    <i class="glyphicon glyphicon-certificate bookshow-flag"></i>
                    <i class="glyphicon glyphicon-certificate bookshow-flag"></i>
                </div>
                <div class="pull-left bookshow-titel-zone ">
                    <h2 class="bookshow-titel">تست</h2>
                    <p class="bookshow-sub-titel">تست</p>
                    <p class="bookshow-sub-titel">تست</p>

                </div>

            </div>
        </div>

    </div>
    <div class="panel bookshow-panel">
        <ul class=" nav nav-tabs nav-justified bookshow-panel-tabs">

            <li class="active"><a href="#tab2default" data-toggle="tab">شرح</a></li>
            <li><a href="#tab3default" data-toggle="tab">مشخصات</a></li>
            <li><a href="#tab4default" data-toggle="tab">فایل</a></li>


        </ul>

        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab2default">
                    <div class="panel-group" id="gp">
                        <div class="panel bookshow-dis-panel">
                            <div class="panel-heading bookshow-dis-panel-heading">
                                <h4 class="panel-title">
                                    <a href="#test1" data-parent="#gp" data-toggle="collapse">content</a>

                                </h4>
                            </div>

                            <div id="test1" class="panel-collapse collapse in">
                                <div class="panel-body bookshow-dis-panel-body">fuck you</div>

                            </div>

                        </div>

                        <div class="panel bookshow-dis-panel">
                            <div class="panel-heading bookshow-dis-panel-heading">
                                <h4 class="panel-title">
                                    <a href="#test2" data-parent="#gp" data-toggle="collapse">content</a>

                                </h4>
                            </div>

                            <div id="test2" class="panel-collapse collapse">
                                <div class="panel-body bookshow-dis-panel-body">fuck you</div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="tab3default">

                    <div class="bookshow-detiles">

                        <div class="row bookshow-detiles-item">
                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                <div class="panel bookshow-detiles-col-3 ">
                                    <span class="bookshow-detiles-text">fuck</span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="panel bookshow-detiles-col-9">
                                    <span class="bookshow-detiles-text">fuck</span>
                                </div>
                            </div>
                        </div>

                        <div class="row bookshow-detiles-item">
                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                <div class="panel bookshow-detiles-col-3 ">
                                    <span class="bookshow-detiles-text">fuck</span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="panel bookshow-detiles-col-9">
                                    <span class="bookshow-detiles-text">fuck</span>
                                </div>
                            </div>
                        </div>

                        <div class="row bookshow-detiles-item">
                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                <div class="panel bookshow-detiles-col-3 ">
                                    <span class="bookshow-detiles-text">fuck</span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="panel bookshow-detiles-col-9">
                                    <span class="bookshow-detiles-text">fuck</span>
                                </div>
                            </div>
                        </div>

                        <div class="row bookshow-detiles-item">
                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                <div class="panel bookshow-detiles-col-3 ">
                                    <span class="bookshow-detiles-text">fuck</span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="panel bookshow-detiles-col-9">
                                    <span class="bookshow-detiles-text">fuck</span>
                                </div>
                            </div>
                        </div>

                        <div class="row bookshow-detiles-item">
                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                <div class="panel bookshow-detiles-col-3 ">
                                    <span class="bookshow-detiles-text">fuck</span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="panel bookshow-detiles-col-9">
                                    <span class="bookshow-detiles-text">fuck</span>
                                </div>
                            </div>
                        </div>

                        <div class="row bookshow-detiles-item">
                            <div class="col-md-3 bookshow-detiles-col-3-main">
                                <div class="panel bookshow-detiles-col-3 ">
                                    <span class="bookshow-detiles-text">fuck</span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="panel bookshow-detiles-col-9">
                                    <span class="bookshow-detiles-text">fuck</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="tab4default">

                    <div class="panel bookshow-download" style="">
                        <div class="pull-left">
                            <h4 class="bookshow-download-titel">test</h4>
                            <p class="bookshow-download-detail">test</p>
                        </div>
                        <div class="pull-right">
                            <div>
                                <a href="#" class=" "><i class="glyphicon glyphicon-download bookshow-download-icon" style=""></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel bookshow-download" style="">
                        <div class="pull-left">
                            <h4 class="bookshow-download-titel">test</h4>
                            <p class="bookshow-download-detail">test</p>
                        </div>
                        <div class="pull-right">
                            <div>
                                <a href="#" class=" "><i class="glyphicon glyphicon-download bookshow-download-icon" style=""></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel bookshow-download" style="">
                        <div class="pull-left">
                            <h4 class="bookshow-download-titel">test</h4>
                            <p class="bookshow-download-detail">test</p>
                        </div>
                        <div class="pull-right">
                            <div>
                                <a href="#" class=" "><i class="glyphicon glyphicon-download bookshow-download-icon" style=""></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

