
@{
    ViewBag.Title = "BookShow";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<section class=" container-fluid main-section">
    <h2>BookShow</h2>
    <div class="">


        <div class="">

        </div>



    </div>

</section>
