
@{
    ViewBag.Title = "BookShow";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<section class=" container-fluid main-section">
    <h2>BookShow</h2>
    <div class="container">

        <div class="panel-group" id="gp">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#test1" data-parent="#gp" data-toggle="collapse">content</a>

                    </h4>
                </div>

                <div id="test1" class="panel-collapse collapse in">
                    <div class="panel-body">fuck you</div>

                </div>

            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#test2" data-parent="#gp" data-toggle="collapse">content</a>

                    </h4>
                </div>

                <div id="test2" class="panel-collapse collapse">
                    <div class="panel-body">fuck you</div>

                </div>

            </div>

        </div>



    </div>

</section>
