
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<section class="col-md-9 container-fluid main-section">
    <div class="row">




        <div class="col-md-12 text-center">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #222d32; color: #9d9d9d;">
                    <span style="font-size: 18px; font-weight:bold;">داشبورد</span>
                </div>



            </div>
        </div>





    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #222d32; color: #9d9d9d; height:100px;">

                    <div class=" text-center pull-left">
                        <div style="font-size: 2.5em;margin-top:10px; ">0%</div>

                    </div>
                    <div class=" text-right pull-right">
                        <span class="glyphicon glyphicon-cloud" style="font-size: 3.5em;"></span>
                        <div style="font-size: 1em; font-weight:bold; direction:ltr">100 MB</div>

                    </div>


                </div>


                <div class="panel-footer" style="background-color: #222d32; color: #9d9d9d;">
                    <div class="text-center" style="font-size: 1em; font-weight:bold; ">فضا در اختیار</div>
                    <!--<div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>-->

                    <div class="clearfix"></div>
                </div>


            </div>
        </div>


        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #222d32; color: #9d9d9d;height:100px;">

                    <div class=" text-center pull-left">
                        <div style="font-size: 2.5em;margin-top:10px; ">0</div>

                    </div>
                    <div class=" text-right pull-right">
                        <span class="glyphicon glyphicon-folder-open" style="font-size: 3.5em;"></span>
                        <div style="font-size: 1em; font-weight:bold; direction:ltr">10 Max</div>

                    </div>



                </div>


                <div class="panel-footer" style="background-color: #222d32; color: #9d9d9d;">
                    <div class="text-center" style="font-size: 1em; font-weight:bold; ">تعداد فایل های مجاز</div>
                    <!--<div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>-->

                    <div class="clearfix"></div>
                </div>


            </div>
        </div>


        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #222d32; color: #9d9d9d;height:100px;">

                    <div class=" text-center pull-left">
                        <div style="font-size: 2.5em;margin-top:10px; ">0</div>

                    </div>
                    <div class=" text-right pull-right">
                        <span class="glyphicon glyphicon-list" style="font-size: 3.5em;"></span>
                        <div style="font-size: 1em; font-weight:bold; direction:ltr">نا محدود</div>

                    </div>


                </div>

                <a href="#">
                    <div class="panel-footer" style="background-color: #222d32; color: #9d9d9d;">
                        <div class="pull-left">کتاب های مورد علاقه</div>
                        <div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>

                        <div class="clearfix"></div>
                    </div>
                </a>



            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #222d32; color: #9d9d9d; height:100px;">

                    <div class=" text-center pull-left">
                        <div style="font-size: 2.5em;margin-top:10px; ">0%</div>

                    </div>
                    <div class=" text-right pull-right">
                        <span class="fa fa-database" style="font-size: 3.5em;"></span>
                        <div style="font-size: 1em; font-weight:bold; direction:ltr">100 GB</div>

                    </div>


                </div>


                <div class="panel-footer" style="background-color: #222d32; color: #9d9d9d;">
                    <div class="text-center" style="font-size: 1em; font-weight:bold; ">فضا سرور</div>
                    <!--<div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>-->

                    <div class="clearfix"></div>
                </div>


            </div>
        </div>


        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #222d32; color: #9d9d9d;height:100px;">

                    <div class=" text-center pull-left">
                        <div style="font-size: 2.5em;margin-top:10px; ">0</div>

                    </div>
                    <div class=" text-right pull-right">
                        <span class="glyphicon glyphicon-book" style="font-size: 3.5em;"></span>
                        <div style="font-size: 1em; font-weight:bold; direction:ltr"> نا محدود</div>

                    </div>



                </div>


                <div class="panel-footer" style="background-color: #222d32; color: #9d9d9d;">
                    <div class="text-center" style="font-size: 1em; font-weight:bold; ">تعداد کتاب ها</div>
                    <!--<div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>-->

                    <div class="clearfix"></div>
                </div>


            </div>
        </div>


        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #222d32; color: #9d9d9d;height:100px;">

                    <div class=" text-center pull-left">
                        <div style="font-size: 2.5em;margin-top:10px; ">0</div>

                    </div>
                    <div class=" text-right pull-right">
                        <span class="fa fa-group" style="font-size: 3.5em;"></span>
                        <div style="font-size: 1em; font-weight:bold; direction:ltr">نا محدود</div>

                    </div>


                </div>

                <a href="#">
                    <div class="panel-footer" style="background-color: #222d32; color: #9d9d9d;">
                        <div class="pull-left" style="font-size: 1em; font-weight:bold;">کاربران</div>
                        <div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>

                        <div class="clearfix"></div>
                    </div>
                </a>



            </div>
        </div>

    </div>

</section>