<!DOCTYPE html>

<html>
<head>

    <link href="~/Content/css/bootstrap.rtl.full.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontiran.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.all.css" rel="stylesheet" />


    <link href="~/Content/Plugins/Chosen/chosen.css" rel="stylesheet" />
    <link href="~/Scripts/Plugins/DataTables-1.10.18/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/css/MasterStyle.css" rel="stylesheet" />
    <link href="~/Content/Plugins/MaterialDesignSwitch/MaterialDesignSwitch.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/Plugins/jQuery.Chosen/chosen.jquery.js"></script>
    <script src="~/Scripts/Plugins/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Plugins/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>

</head>
<body>

    <div class="wrapper">

        <header class="main-header container-fluid  navbar-fixed-top">

            <div class="row">

                <div class="col-md-3  navHeader">
                    <a href="#">سامانه کتابخانه دیجیتال</a>
                </div>
                <nav class="col-md-9  navbar navbar-inverse " style="border-radius:0;">

                    @Html.Partial("_NavCustomMune")

                </nav>
            </div>

        </header>
        <main>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>

        @Html.Partial("_Toster")

        <footer></footer>
    </div>

    <script src="~/Scripts/MyScripts/Chosen_Config.js"></script>

</body>
</html>
