
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<section>
    <div class="saerch-panel">

        <div class="block-heading text-center saerch-panel-logo">
            <img src="~/Content/Images/arm.png" />
        </div>

        <form class="saerch-panel-input container ">

            <input type="text" placeholder="من به دنبال " class="form-control text-center saerch-panel-input-txt " />
            <div class=" container text-center" style="margin-top:15px; width:100%">
                <button class="btn btn-primary" type="button" style="width:120px">جستجو</button>
                <button class="btn btn-primary" type="button" style="width:120px">جستجو پیشرفته</button>
            </div>

            <div class="input-group ">

                @*<div class="input-group-addon saerch-panel-input-icon hidden-xs">
                        <span><i class="glyphicon glyphicon-search"></i></span>
                    </div>*@



                @*<div class="input-group-btn">

                        <button class="btn btn-block saerch-panel-input-btn" type="button">جستجو</button>
                    </div>*@

            </div>

        </form>


    </div>


</section>


