
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<section>
    <div class="container saerch-panel">

        <div class="block-heading text-center saerch-panel-logo">



            <img src="../../Content/Images/arm.png" />

        </div>

        <div class="row">

            <form class="saerch-panel-input container ">
                <div class="input-group ">


                    <div class="input-group-addon saerch-panel-input-icon hidden-xs">
                        <span><i class="glyphicon glyphicon-search"></i></span>
                    </div>
                    <input type="text" placeholder="من به دنبال " class="form-control text-center saerch-panel-input-txt " />
                    <div class="input-group-btn">
                        <button class="btn btn-block saerch-panel-input-btn" type="button">جستجو</button>
                    </div>

                </div>

            </form>

        </div>

    </div>


</section>


