
@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<section class="form-form-outdasdboard searchreultpanel">

    <div class="row">


        <form class="saerch-panel-input container ">
            <div class="input-group ">


                <div class="input-group-addon saerch-panel-input-icon ">
                    <img src="~/Content/Images/arm.png" style="width:15px; height:20px;" />
                </div>
                <input type="text" placeholder="من به دنبال " class="form-control text-center saerch-panel-input-txt " />
                <div class="input-group-btn">
                    <button class="btn btn-block saerch-panel-input-btn" type="button">جستجو</button>
                </div>

            </div>

        </form>

    </div>
    <hr />
    <div class="searchreultpanel-zone">

        @for (int i = 0; i < 20; i++)
        {
            <a href="#">
                <div class="panel  searchreultpanel-col">
                    <div class="panel-heading searchreultpanel-panel-body" style="">
                        <img src="~/Content/Images/arm.png" class="img-responsive img-rounded searchreultpanel-img" />
                    </div>
                 
                    <div class="panel-footer searchreultpanel-panel-footer">
                        <p class="searchreultpanel-titel">fuck fuck fuck fuck </p>
                    </div>
                </div>

            </a>
        }





    </div>
</section>


