

.login-heading
{
    width: 93%;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    background-color:#222D32 ;
    border: #9D9D9D 2px solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 0;
    font-family: IRANSansB;
    font-size: large;
}

.login-form {
    max-width: 500px;
    margin-top: 15vh;
    margin-bottom: 10vh;
    margin-right: auto;
    margin-left: auto;
    background-color: #222D32;
    color: #9D9D9D;
}

.login-logo
{
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.login-footer
{
    background-color: #222D32;
    border: none;
}

.login-button
{
    margin-bottom: 20px;
}

@media screen and (max-width:990px) {
    .login-form {

        margin-top: 130px;

    }
}