
@{
    ViewBag.Title = "خطا";
    Layout = "~/Views/Shared/_Master.cshtml";
}




<section class=" container-fluid main-section">

    <form action="~/Home/Search" class="panel-info  form-form form-error form-form-outdasdboard">
        <div class=" form-heading-error form-heading   text-center">
            <h3 class=" text-danger" style="margin:0px;">خطا </h3>
        </div>

        <div class="form-body text-center text-danger">


            <div style="border:3px solid #d9534f; border-radius:50px; height:100px; width:100px; margin-left:auto; margin-right:auto; margin-top:25px;">
                <h1 style="margin-top:25px;"> 401 </h1>
            </div>
         
            <h4> شما به این صفحه دسترسی ندارید</h4>

        </div>

        <div class="form-footer panel-footer">
            <button class="btn btn-danger btn-block  login-button" type="submit" name="btnAccept">تایید</button>
        </div>
    </form>

</section>

