@model D_Library.Models.Model.RegisterCodeDeleteModel


@using (Html.BeginForm("RegisterCodeDelete", "User", FormMethod.Post, htmlAttributes: new { @class = "", @style = "" }))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Username)

    <br />
    <h4 class="text-center">از حذف کاربر ' @Model.Username ' اطمینان دارید؟</h4>

    <br />


    <div class="">
        <button class="btn btn-danger modal-btn-Dual pull-left" type="button" data-dismiss="modal">انصراف</button>
        <button class="btn btn-success modal-btn-Dual pull-right " type="submit" name="btn-Delete">تایید</button>

    </div>



}